<body>
    
    <header class="hero-section">
        <img src="/images/banner.jpg" alt="Banner Image" id="image-background" width="100%" height="100%">

        <div class="text-center text-white py-5 content">
            <h5>Library Management System</h5>
            <p class="lead">A smart way to manage your library books and members seamlessly.</p>
            <a href="#about" class="btn btn-secondary mt-4">Learn More</a>
        </div>
    </header>

    
    <section id="about" class="about py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="m-3">What is Library Management System?</h4>
                    <p>The Library Management System is designed to simplify book management for libraries of all sizes. It helps track books, members, and transactions with ease, ensuring a seamless experience for library staff and patrons.</p>
                    <p>With features like book tracking, member management, and transaction history, this system can help optimize library operations while ensuring that books are managed effectively.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="cta bg-primary text-white py-5">
        <div class="container text-center">
            <h4>Ready to Get Started?</h4>
            <p>Join thousands of libraries that trust our system to manage their books and members.</p>
            <a href="/Book/List" class="btn btn-secondary btn-sm mt-4">Discover</a>
        </div>
    </section>

</body>
