@model LibraryManagementSystem.Models.Author

@{
	ViewData["Title"] = "Create Author";
	Layout = "_Layout";
}

<div class="container mt-4">
	<h2 class="text-center text-warning">Create Author</h2>

	<form asp-action="Create" method="post">
		@Html.AntiForgeryToken()
        
		<!-- First Name -->
		<div class="row mb-3">
			<label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="FirstName" name="FirstName" required placeholder="Enter first name" />
			</div>
		</div>

		<!-- Last Name -->
		<div class="row mb-3">
			<label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="LastName" name="LastName" required placeholder="Enter last name" />
			</div>
		</div>

		<!-- Submit Button -->
		<div class="row mb-3">
			<div class="col-sm-10 offset-sm-2">
				<button type="submit" class="btn btn-warning">Create Author</button>
			</div>
		</div>
	</form>
</div>