@model LibraryManagementSystem.Models.Author

@{
	ViewData["Title"] = "Edit Author";
	Layout = "_Layout";
}

<div class="container mt-4">
	<h2 class="text-center text-warning">Edit Author</h2>

	<form asp-action="Edit" method="post">
		@Html.AntiForgeryToken()

		<div class="row mb-3">
			<label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required placeholder="Enter first name" />
			</div>
		</div>

		<div class="row mb-3">
			<label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required placeholder="Enter last name" />
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-10 offset-sm-2">
				<button type="submit" class="btn btn-warning">Update Author</button>
			</div>
		</div>
	</form>
</div>